.contenido {
	color: #adadad;
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
}

/*======= Validacion de formulario ============*/
.form-control,
input:focus {
	outline: none;
}

.form-control.ok input {
	border: 0.1px solid;
	border-color: #08ffc8;
}
.form-control.falla input {
	border: 0.1px solid;
	border-color: #fe5f55;
}

#form button {
	background: #fd4f00;
	border: 1px solid #fd5f00;
	border-radius: 2px;
	color: #f6f6e9;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 18px;
}
.form-control p {
	visibility: hidden;
	position: absolute;
	font-size: small;
	font-weight: 500;
	text-align: right;
}

.form-control.falla p {
	visibility: visible;
	color: #e74c3c;
}
